<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [6]:
# Ваш код здесь
df.groupby('gender_str')['height', 'weight', 'age'].describe()
# 45530 женщин и 24470 мужчин

                        height        weight           age
gender_str
female     count  45530.000000  45530.000000  45530.000000
           mean     161.355612     72.565605  19510.124577
           std        7.052726     14.238838   2432.024493
           min       55.000000     21.000000  10859.000000
           25%      157.000000     63.000000  18040.000000
           50%      161.000000     70.000000  19726.000000
           75%      166.000000     80.000000  21330.000000
           max      250.000000    200.000000  23701.000000
male       count  24470.000000  24470.000000  24470.000000
           mean     169.947895     77.257307  19392.097875
           std        7.228895     14.187636   2529.752770
           min       65.000000     10.000000  10798.000000
           25%      165.000000     68.000000  17502.000000
           50%      170.000000     75.000000  19655.500000
           75%      175.000000     85.000000  21321.000000
           max      207.000000    200.000000  23713.000000

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [5]:
female_count = 45530.0
male_count = 24470.000000

# Ваш код здесь
gender_str = { 2: 'male', 1: 'female' }
df['gender_str'] = df['gender'].map(gender_str)
# df.groupby('gender_str')['alco'].describe()

sumed = df.groupby('gender_str')['alco'].sum()
print(sumed)
print(sumed['female'] / female_count)
print(sumed['male'] / male_count)

# мужчины

gender_str
female    1161
male      2603
Name: alco, dtype: int64
0.0254996705469
0.106375153249

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [7]:
# Ваш код здесь
sumed_smoke = df.groupby('gender_str')['smoke'].sum()
print(sumed_smoke)
print(sumed_smoke['female'] / female_count)
print(sumed_smoke['male'] / male_count)
# 12

gender_str
female     813
male      5356
Name: smoke, dtype: int64
0.017856358445
0.218880261545

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [8]:
# Ваш код здесь
import math
df['age_month_avg'] = df['age'].map(lambda x: x / 29.3)
df['age_year_avg'] = df['age'].map(lambda x: math.floor(x / 365.5))
df.head()

group_by_smoke = df.groupby('smoke')['age', 'age_month_avg', 'age_year_avg']
print(group_by_smoke.agg([np.mean]))

group_by_smoke_in_days = df.groupby('smoke')['age'].mean()
print((group_by_smoke_in_days[0] - group_by_smoke_in_days[1]) / 29.3)

# 15

                age age_month_avg age_year_avg
               mean          mean         mean
smoke
0      19505.400730    665.713335    52.867588
1      19090.836927    651.564400    51.735451
14.1489352725

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [34]:
# Ваш код здесь
old_persons = df.loc[(df['age_year_avg'] > 59) & 
                     (old_persons['age_year_avg'] < 65) & 
                     (old_persons['gender_str'] == 'male') & 
                     old_persons['smoke'] == 1]

press_120_chol_1 = old_persons.loc[(old_persons['cholesterol'] == 1) & (old_persons['ap_hi'] < 120)]
press_over_160_chol_3 = old_persons.loc[(old_persons['cholesterol'] == 3) & (old_persons['ap_hi'] >= 160) & (old_persons['ap_hi'] < 180)]

# print(len(old_persons))
# print(old_persons.head())
# print(press_120_chol_1.head())
# print(press_over_160_chol_3.head())

perc_ill_1 = len(press_120_chol_1[press_120_chol_1['cardio'] == 1])/len(press_120_chol_1)
print(perc_ill_1)

perc_ill_2 = len(press_over_160_chol_3[press_over_160_chol_3['cardio'] == 1])/len(press_over_160_chol_3)
print(perc_ill_2)

# 3

0.2641509433962264
0.9285714285714286

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [52]:
# Ваш код здесь
df['bmi'] = df['weight'] / (df['height']/100)**2
print('Медианный BMI по выборке лежит в пределах нормы' if (df['bmi'].mean() >= 18.5 and df['bmi'].mean() < 25) else '1. -')
print('2. У женщин в среднем BMI выше, чем у мужчин' if (df[df['gender_str'] == 'female']['bmi'].mean() > df[df['gender_str'] == 'male']['bmi'].mean()) else '2. -')
print('3. У здоровых в среднем BMI выше, чем у больных' if (df[df['cardio'] == 0]['bmi'].mean() > df[df['cardio'] == 1]['bmi'].mean()) else '3. -')

male_cardio0_alco0 = df.loc[(df['cardio'] == 0) & (df['alco'] == 0) & (df['gender_str'] == 'male')]['bmi'].mean()
# print(male_cardio0_alco0)

female_cardio0_alco0 = df.loc[(df['cardio'] == 0) & (df['alco'] == 0) & (df['gender_str'] == 'female')]['bmi'].mean()
# print(female_cardio0_alco0)

print('4. В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин' if True else '4. -')

1. -
2. У женщин в среднем BMI выше, чем у мужчин
3. -
4. В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [79]:
# Ваш код здесь
total_rows = len(df)
updated = df.loc[(df['ap_hi'] > df['ap_lo'])]
removed = total_rows - len(updated)
print('1: ', removed)

height_0025 = df['height'].quantile(0.025)
height_0975 = df['height'].quantile(0.975)
updated = updated.loc[(updated['height'] >= height_0025) & (updated['height'] <= height_0975)]

removed += len(remove_heighest_smallest)
print('2: ', removed)

weight_0025 = df['weight'].quantile(0.025)
weight_0975 = df['weight'].quantile(0.975)
updated = updated.loc[(updated['weight'] >= weight_0025) & (updated['weight'] <= weight_0975)]

removed += len(remove_heighest_smallest)
print('2: ', removed)

print(removed / total_rows)

# 10

1:  1236
2:  4212
2:  7188
0.10268571428571428